.page-header {
  @include mp-reset;
  padding-top: 30px;
  padding-bottom: 52px;
}

.page-header__nav {
  margin-right: 7.5%;
  margin-left: 7.5%;
  display: flex;
  justify-content: space-between;
}

.page-header__link-logo {
  @include a;
  font-family: $font-family-Bebas-Neue;
  font-size: 26px;
  letter-spacing: 0.02em;

  color: $font-white;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.8;
  }
}

.page-header__link-phone {
  @include a;
  font-family: $font-family-Bebas-Neue;
  font-size: 26px;
  letter-spacing: 0.04em;

  color: $font-white;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.8;
  }
}

.page-header__wrapper-content {
  @include mp-reset;
  margin-right: 7.5%;
  min-height: 400px;
  display: flex;
  justify-content: start;
}

.page-header__img {
  @include mp-reset;
  width: 39.5%;

  & img {
    display: block;
    width: 100%;
  }
}

.page-header__content {
  min-height: 145px;
  margin-top: 303px;
  margin-bottom: 42px;
  margin-right: 5.3%;
  width: 39.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  & span {
    @include text;
    margin-bottom: 12px;
    font-family: $font-family-Bebas-Neue;
    font-size: 49px;
    line-height: 49px;
    letter-spacing: 0.03em;
    text-align: right;

    color: $font-white;
  }

  & div {
    @include mp-reset;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    top: -185px;
    right: 2px;
  }

  & h1 {
    @include text;
    font-family: $font-family-Bebas-Neue;
    font-weight: 700;
    font-size: 109px;
    line-height: 109px;
    letter-spacing: 0.03em;
    text-align: right;

    color: $font-white;
  }

  & ul {
    @include list-reset;
    display: flex;
    flex-direction: column;
    padding-right: 264px;

    & li {
      text-align: right;
    }
  }

  & a {
    @include a;
    align-self: flex-end;
    font-family: $font-family-Roboto-Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;

    color: $font-white;

    &:hover {
      opacity: 0.6;
    }

    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.8;
    }
  }

  & .page-header__content--link {
    @include mp-reset;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 85px;
    width: 233px;
    height: 60px;

    font-family: $font-family-Roboto-Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: $font-white;
    border: 4px solid $bg-white;

    &:hover {
      opacity: 0.6;
    }

    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.8;
    }
  }
}

.page-header__social {
  @include mp-reset;
  //margin-top: 415px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  & ul {
    @include list-reset;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    & a {
      @include a;
      margin-top: 20px;
      font-family: $font-family-Roboto-Condensed;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      display: flex;
      align-items: center;
      text-align: right;
      text-transform: uppercase;

      color: $font-white;

      &:hover {
        opacity: 0.6;
      }

      &:focus {
        opacity: 0.6;
      }

      &:active {
        opacity: 0.8;
      }
    }
  }
}

@media (max-width: $tablet-width) {
  .page-header {
    margin-right: 5.7%;
    margin-left: 5.7%;
    padding-top: 38px;
    padding-bottom: 80px;
  }

  .page-header__nav {
    margin-right: 0;
    margin-left: 0;
  }

  .page-header__wrapper-content {
    margin-right: 0;
    margin-top: 20px;
    justify-content: center;
    min-height: 390px;
  }

  .page-header__img {
    width: 47.5%;
  }

  .page-header__link-logo,
  .page-header__link-phone {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.03em;
  }

  .page-header__content {
    @include mp-reset;
    margin-top: 185px;
    margin-bottom: 23px;
    width: 327px;
    margin-right: 4.5%;

    & span {
      margin-bottom: 7px;
      font-size: 34px;
      line-height: 34px;
      letter-spacing: 0.03em;
    }

    & div {
      top: -132px;
    }

    & h1 {
      font-size: 86px;
      line-height: 86px;
      text-align: right;
      letter-spacing: 0.03em;
    }

    & ul {
      margin-right: 65%;
      padding: 0;
    }

    & .page-header__content--link {
      width: 187px;
      margin-top: 35px;
    }
  }

  .page-header__social {
    display: none;
  }
}

@media (max-width: $mobile-width) {
  .page-header {
    margin-right: 4.4%;
    margin-left: 4.4%;
    padding-top: 18px;
    padding-bottom: 77px;
  }

  .page-header__wrapper-content {
    max-width: 390px;
    min-height: 355px;
    margin: 0 auto;
  }

  .page-header__img {
    display: none;
  }

  .page-header__link-logo,
  .page-header__link-phone {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.02em;
  }

  .page-header__content {
    @include mp-reset;
    margin-right: auto;
    margin-left: auto;
    margin-top: 195px;
    width: 100%;

    & span {
      margin-bottom: 10px;
      margin-top: 76px;
      font-size: 28px;
      line-height: 28px;
      letter-spacing: 0.03em;
    }

    & div {
      top: -194px;
    }

    & h1 {
      font-size: 78px;
      line-height: 78px;
      letter-spacing: 0.03em;
    }

    & ul {
      margin-right: 61%;
    }

    & .page-header__content--link {
      width: 292px;
      height: 62px;
      margin-top: 53px;
    }
  }
}
