.wrapper-header {
  @include mp-reset;
  min-height: 658px;
  background-color: transparent;
  //background-color: #b80027;
  background-image: url("../img/header-desktop@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: 50% 0;
  background-size: cover;

  //@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  //  background-image: url("../img/header-desktop@2x.jpg");
  //}
}

@media (max-width: $tablet-width) {
  .wrapper-header {
    min-height: 554px;
    background-color: transparent;
    //background-color: #b80027;
    background-image: url("../img/header-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/header-tablet@2x.jpg");
    }
  }
}

@media (max-width: $mobile-width) {
  .wrapper-header {
    min-height: 491px;
    background-color: transparent;
    //background-color: #b80027;
    background-image: url("../img/header-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/header-mobile@2x.jpg");
    }
  }
}
