@mixin mp-reset {
  margin: 0;
  padding: 0;
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin text {
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
}
