body {
  @include mp-reset;
  min-width: 320px;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;

  font-family: $font-family-Roboto-Condensed;
  font-size: 17px;
  line-height: 20px;
  color: white;
  font-style: normal;

  background-color: $bg;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button {
  margin: 0;
  padding: 0;
  display: block;
  text-decoration: none;

  cursor: pointer;
  outline: none;
}

.fade {
  animation-name: fade;
  animation-duration: 2.5s;
}

@keyframes fade {
  from {
    opacity: 0.1;
  }

  to {
    opacity: 1;
  }
}
