$font-family-Roboto-Condensed: "Roboto Condensed", "Arial", sans-serif;
$font-family-Bebas-Neue-Bold: "Bebas Neue Bold", "Arial", sans-serif;
$font-white: #ffffff;
$font-black: #666666;
$bg: #656565;
$bg-white: #ffffff;
$mobile-width-min: 320px;
$mobile-width: 767px;
$desktop-width: 1200px;
$tablet-width: 1199px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

